




<div itemscope itemtype="http://schema.org/Product">

  <div sotos-slider-up-down  offset-top="offsetTop" images="images">
      <div sotos-slider images="images.images1"   offset-top="offsetTop"></div>
      <div sotos-slider images="images.images2"   offset-top="offsetTop"></div>
  </div>

  <div sotos-slider images="images.images2"   offset-top="offsetTop"></div>


<!-- NETWORK REQUEST -->
<div id="ds-beacon-network" class="row bn-search-panel bn-hero-white b-t b-b">
  <div class="mx-width clearfix p-v-xxl">
    <div class="col-xs-12 ">
<!--       <h2 class="h2 m-b-xl"><img src="assets/images/beacon-network-logo-dark.svg" width=20% height=-20%><BR><font color="#424949">  -->      
      <h2 class="h2 m-b-xl" ><font color="#BDBDBD"><img src="assets/images/networkincon.png" width=40 height=40> Beacon Network <BR> Find genetic variants of interest</h2>
      <form role="form" name="searchform" class="form-validation form-horizontal" ng-submit="main.searchBeacons()" novalidate>
        <div class="form-group bn-coordinates hidden-xs" ng-class="{'has-error': searchform.$invalid && !searchform.$pristine }">
          <div class="col-sm-12">
            <div class="input-group">
              <div class="input-group-btn dropdown" dropdown="">
                <button type="button"
                        class="btn btn-default input-lg b-r-n"
                        style="font-size: 18px"
                        dropdown-toggle="">
                  {{main.assembly || ''}} <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                  <li ng-repeat="assembly in main.assemblies" role="menuitem">
                    <a ng-click="main.query.rs = assembly" href="">{{assembly}}</a></li>
                </ul>
              </div>
              <input bn-genome-coordinate
                     placeholder="e.g. 13 : 32936732 G > C"
                     ng-model="main.coordinates"
                     name="coordinates"
                     class="form-control input-lg">

              <div class="input-group-btn">
                <button class="btn btn-lg" style="opacity:1.0;"
                        ng-class="!searchform.$valid ? 'btn-disabled' : 'btn-success'"
                        type="submit"
                        ng-disabled="!searchform.$valid">
                  <div><img src="assets/images/search.png" width=20 height=20></div>
                </button>
              </div>
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- NEWS -->
<div id="ds-press" class="row bn-hero-white">
  <div class="mx-width clearfix p-v-xxl">
    <div class="col-xs-12">
      <h2 class="h2 p-v-xl"> News </h2>
    </div>
    <div class="col-xs-12">
      <div class="row m-t-lg">
        <div class="col-xs-12 col-sm-4" style="margin-bottom: 10px" ng-repeat="story in main.news">
          <div class="b-a bg-light" style="padding:10px; height:150px;">
            <a href="{{story.url}}" ng-init="newsLogoHeight='30px'">
              <div class="text-center m-b" style="height:25px">
              </div>
              <div class="font-lg italic m-b-lg text-ellipsize">{{story.title}} <BR><font size=-1> {{story.date}}</font></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- PARTNERS LIST -->
<div id="ds-partners" class="row b-t">
  <div class="mx-width clearfix p-v-xxl">
      <div class="col-xs-12">
      <h2 class="h2 p-v-xl"> Partners </h2>
    </div>
    <div class="col-xs-12 text-center" ng-init="logoHeight='60px'">
      <div class="ds-partner p-v inline" ng-repeat="partner in main.partners">
        <a href="{{partner.url}}">
          <img
            style="margin:20px; -webkit-filter: grayscale(1) invert(1); filter: grayscale(1) invert(1);"
            class="m-a" ng-src="{{partner.logoSrc}}" ng-style="{height:logoHeight}"/>
        </a>
      </div>
    </div>
  </div>
</div>
